@use 'sass:list';

body {
  height: 100vh;
  width: 100vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}

.col {
    height: 200px;
    width: 60px;
}

@function hex-generator() {
    $color: "#";
    $letters: A, B, C, D, E, F;

    @for $i from 1 through 6 {
      $semicolor: random(16)-1;
      @if $semicolor > 9 {
        $semicolor: $semicolor - 9;
        $semicolor: list.nth($letters, $semicolor);
      }
        $color: $color + $semicolor;
    }
    @return unquote($color);
}

@for $i from 0 through 12{
      .col:nth-child(#{$i}){
        background-color: hex-generator();
      }
    }