@function random-hex() {
    $color: "#";
    @for $i from 1 through 6 {
      $semicolor: random(15);
      @if $semicolor > 9 {
        @if $semicolor == 10 {
          $color: $color + "A";
        } @else {
          @if $semicolor == 11 {
            $color: $color + "B";
          } @else {
            @if $semicolor == 12 {
              $color: $color + "C";
            } @else {
              @if $semicolor == 13 {
                $color: $color + "D";
              } @else {
                @if $semicolor == 14 {
                  $color: $color + "E";
                } @else {
                  @if $semicolor == 15 {
                    $color: $color + "F";
                  }
                }
              }
            }
          }
        }
      }
      @else {
        $color: $color + $semicolor;
      }
    }
    @return unquote($color);
}