body, html {
    height: 100%;
}

#container-flex {
    display: flex;
    flex-direction: row;

}

#yellow {
    order: 1;
}

#red {
    order: 1;
}

#green {
    order: 2;
}

#orange {
    flex: 1;
    order: 3;
}

#blue {
    order: 3;
} 



