* {
    margin: 0;
    font-size: 14px;
}

#bucket-article {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 300px;
}

#card-image {
    flex: 1;
    border-radius: 10px 10px 0px 0px;
    /* justify-content: center;
    align-items: center; */
    overflow: hidden;
}

#buckethead {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
}

#card-paragraph {
    flex: 1;
    margin: auto;
}

.divs-1, .divs-2 {
    border: 1px solid gray;
    border-collapse: collapse;
    border-spacing: 1px;
}

.paragraph {
    margin: 5px;
    padding: 5px;
}

#card-links {
    display: flex;
    flex-direction: row;
    border-radius: 0px 0px 10px 10px;
}