.container {
    width: 450px;
    height: 450px;
    background-color: black;
    display: flex;

    .ball {
        height:50px;
        width:50px;
        border-radius: 50%;
        background-color: blue;
        animation: bounce 1s infinite;
        justify-self: flex-end;
        align-self: flex-end;
    }
}

$partenza: 0px;
$distanza: -30px;

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY($partenza);
    }

    40%{
        transform: translateY($distanza);
}

    60% {
        transform: translateY(calc($distanza/2));
    }
}